<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <%= render 'shared/navbar' %>



  <div class="container">
    <%= render 'layouts/messages' %>
    <div class="row row-offcanvas row-offcanvas-right active">

      <div class="col-xs-12 col-sm-9">
        <%= yield %>
      </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <div id="cart">
          <%= render @cart if @cart %>
        </div>

      </div>
   </div>
  </div>



  </body>
</html>
